// Override this file to add your own SCSS styling.

h1, h2, h3, h4 {
    font-style: italic;
    color: #d15b23;
}

.article-title a {
    color: #d15b23;
}

a {
    text-decoration: underline;
}

pre,
code {
    color: #b5404b;
    background-color: inherit;   /* Match bg of default highlight theme. */
}
